.flex_all_Centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    color: black;
    background-color: #FFF5EA;
    border: 2px solid #361500 ;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 5px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
}
.btn:hover{
    color: white;
    background-color: #361500;
}
.l{
    margin: 5px 0px;
}
.text-center{
    text-align: center;
}