
.aboutus{
    display: flex;
    justify-content:center;
    margin-left: 15px;
    margin-top: 10px;
    
}
.slideraboutus{
    display: flex;
    justify-content:flex-start;
    margin-left: 15px;
    margin-top: 10px;
}
.allign{
    margin-left: 100px;
}
.abf{
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
    margin-top: 25px;
}
.cont{
    margin: 50px;
    padding: 50px;
}
.slider2{
    display: flex;
    justify-content: flex-end;
    
}
ul li {
    list-style:circle;
    padding:0px 23px;
}
 ul li a {
    color: #361500 ;
    text-decoration: none;
    
}
 ul li a:hover{
    color: black;
    background-color:antiquewhite;
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;

}